@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

html {
  font-family: "Inter", serif;
}


.typical-wrapper::after {
  display: none !important;
}


body {
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}


.image-container {
  --size: 420px;

  width: var(--size);
  height: var(--size);
  background: linear-gradient(rgb(233, 255, 238), #e9fff6);
  border: 15px solid #fff;
  border-bottom-width: 50px;
  box-shadow: 6px 6px 15px #0008;
  rotate: -5deg;
  overflow: hidden;
}

.manzdev {
  rotate: -6deg;
  translate: 0 20px;
  filter: drop-shadow(6px 0 4px #0006);
  -webkit-filter: drop-shadow(6px 0 4px #0006);
}

.manzdev {
  animation: move 3s infinite alternate;
}

@keyframes move {

  0%,
  50% {
    translate: 30px 10px;
  }

  75%,
  100% {
    translate: 0 350px;
  }
}


.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-200%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}